# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.ilk
test1/test1/Debug/test1.exe
*.pdb
*.sdf
test1/test1/test1.sln
*.ipch
*.lastbuildstate
*.tlog
test1/test1/test1/Release/stdafx.obj
test1/test1/test1.sln.docstates.suo
test1/test1/test1/Debug/test1.Build.CppClean.log
*.manifest
test1/test1/test1/Release/test1.pch
*.log
test1/test1/test1/test1.vcxproj.filters
test1/test1/test1/test1.vcxproj.user
*.vcxproj
*.idb
test1/test1/test1/Debug/test1_manifest.rc
*.cache
test1/test1/test1/Debug/test1.exe.embed.manifest.res
*.pch
*.obj
test1/test1/test1/Release/test1.unsuccessfulbuild
*.suo
*.opensdf
*.sln
test1/Debug/test1.exe
*.exe
test1/test1/test1.vcxproj.user
*.filters
test1/test1/Debug/test1_manifest.rc
*.res
test1/test1/ReadMe.txt
*.user
test2/test2/test2/ReadMe.txt
*.rc
